.track {
  @apply relative block h-1;
  animation: fadein 2500ms linear;
}

/* .track::after { */
/*   content: ''; */
/*   @apply absolute inset-0 block bg-gray-300 rounded-lg; */
/* } */

.indicator {
  @apply relative z-10 block h-full rounded-lg;
  background: linear-gradient(
    to right,
    transparent -25%,
    theme('colors.green.500')
  );
  transition: width 250ms ease-out;
}

.bling {
  @apply h-8 pb-4;
}

.tooltip {
  @apply inline-block w-12 text-center whitespace-no-wrap opacity-0 text-token-active-cursor;
  animation: fadeout 500ms ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -0.25rem, 0);
  }
}
