.track {
  @apply relative flex items-end;
  animation: fadein 2500ms linear;
}

.bar-height {
  height: 2px;
}

.indicator {
  composes: bar-height;
  @apply absolute bottom-0 left-0 z-20 flex-none block rounded-lg;
  background: linear-gradient(
    to right,
    transparent 75%,
    theme('colors.gray.600')
  );
  transition: width 250ms ease-out;
}

.spacer {
  composes: bar-height;
  @apply relative z-10 flex-none block;
  background: linear-gradient(
    to right,
    theme('colors.gray.200') 50%,
    theme('colors.green.300')
  );
}

.tooltip {
  @apply relative flex-none inline-block w-12 font-bold text-center whitespace-no-wrap opacity-0 text-token-active-cursor;
  font-family: sans-serif;
  animation: fadeout 500ms ease-in-out;
  top: 0.5rem;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -0.5rem, 0);
  }
}
