.track {
  @apply relative flex items-end;
  animation: fadein 2500ms linear;
}

.bar-height {
  height: 2px;
}

.indicator {
  composes: bar-height;
  @apply absolute bottom-0 left-0 z-20 flex-none block rounded-lg;
  background: linear-gradient(
    to right,
    transparent -25%,
    theme('colors.green.500')
  );
  transition: width 250ms ease-out;
}

.spacer {
  composes: bar-height;
  @apply relative z-10 flex-none block;
  background: linear-gradient(
    to right,
    transparent 25%,
    theme('colors.yellow.400')
  );
}

.tooltip {
  @apply flex-none inline-block w-12 font-bold text-center whitespace-no-wrap opacity-0 text-token-active-cursor;
  animation: fadeout 500ms ease-in;
  margin-bottom: -0.25rem;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
  }
}
