.wrap {
  @apply relative flex flex-col items-center;
  padding-top: 18vh;
  padding-bottom: 18vh;
  min-height: calc(100vh - 1rem);
}

.root {
  @apply flex-none m-4;
  max-width: 560px;
}

.article {
  @apply h-48 overflow-hidden;
}

.articleBox {
  @apply relative mb-5;
}

/* Fade-away gradients */
.articleBox::before,
.articleBox::after {
  content: '';
  @apply absolute left-0 z-10 block w-full h-4;
}

.articleBox::before {
  @apply top-0;
  background: linear-gradient(
    to top,
    transparent,
    theme('colors.base.bodyBg') 50%
  );
}

.articleBox::after {
  @apply bottom-0;
  background: linear-gradient(
    to bottom,
    transparent,
    theme('colors.base.bodyBg') 50%
  );
}

.articleContent {
  @apply my-4;
}

.input {
  @apply flex items-center my-2 rounded-lg bg-input-baseBg text-input-baseText;
  box-shadow: inset 0 0 0 1px theme('colors.input.baseOutline'),
    0 1px 2px theme('colors.input.shadowSm');
  transition: box-shadow 250ms ease-out;
}

.input:focus-within {
  @apply bg-input-focusBg;
  box-shadow: inset 0 0 0 1px theme('colors.input.focusOutline'),
    0 1px 2px theme('colors.input.shadowSm'),
    0 8px 12px theme('colors.input.shadowLg'),
    0 24px 32px theme('colors.input.shadowLg');
}

.idleInput {
  composes: input;
}

.ongoingInput {
  composes: input;

  &:focus-within {
    @apply bg-input-focusBg;
  }
}

.inputField {
  @apply flex-1;
}

.timer {
  @apply flex-none px-4;
}

.finishedInput {
  composes: input;
  @apply p-4 bg-green-100;
}

.bottomNav {
  @apply absolute bottom-0 left-0 p-4;

  @screen md {
    @apply p-8;
  }
}

.extraStatus {
  @apply absolute bottom-0 p-4 text-center;
  left: 50%;
  width: 12rem;
  margin-left: -6rem;
}

/* Extra space to allow centering properly */
.articleSpacer {
  @apply h-24;
}

.indicatorArea {
  @apply h-6 mt-4;
}

.muteable {
  transition: opacity 100ms linear;
}

.mute {
  opacity: 0.25;
  transition: opacity 3000ms linear;
}

.mute:hover,
.mute:focus-within {
  opacity: 1;
  transition: opacity 100ms linear;
}

.externalNav {
  @apply absolute bottom-0 right-0 flex p-4;

  & > * + * {
    /* space-x-6 doesn't seem to work */
    @apply ml-6;
  }

  @screen md {
    @apply p-8;
  }
}

.wrap a {
  &,
  &:visited {
    @apply no-underline text-base-linkText;
  }

  &:hover,
  &:focus {
    @apply text-base-linkHoverText;
  }
}
