.root {
  @apply rounded-md flex-none;
  width: 480px;
  box-shadow: 0 1px 2px #4564, 0 8px 12px #4561, 0 24px 32px #4561;
}

.article {
  @apply p-8;
}

.input {
  @apply flex items-center;
  border-top: solid 1px #8884;
}

.wrap {
  @apply flex items-center justify-center h-screen;
}

.ongoingInput {
  composes: input;
  background: #8881;
}

.inputField {
  @apply flex-1;
}

.timer {
  @apply flex-none px-4;
}

.finishedInput {
  composes: input;
  @apply p-4 bg-green-100;
}
