.root {
  @apply relative inline-block text-token-normalText;
}

.isActive {
  @apply bg-token-activeBg;
}

.isDone,
.isDoneError {
  @apply text-token-doneText;
}

.isDoneError::before {
  content: '';
  @apply absolute block bg-token-errorLinethrough;
  top: 55%;
  left: -0.125rem;
  right: -0.125rem;
  height: 0.125rem;
}

.isActiveError {
  @apply bg-token-errorBg;
}

.isActiveError .left {
  @apply text-token-errorText;
}

.left {
  @apply text-token-activeText;
}

.right {
  @apply relative;
}

.cursor {
  @apply relative inline-block;
}

.cursor::before {
  @apply absolute bg-token-activeCursor;
  content: ' ';
  width: 0.6em;
  top: -1em;
  bottom: -0.25em;
  animation: blink 250ms linear infinite alternate;
}

.isActiveError .cursor::before {
  @apply bg-token-errorCursor;
}

@keyframes blink {
  0% {
    opacity: 0.66;
  }

  100% {
    opacity: 0.33;
  }
}

.lineCursor {
  composes: cursor;

  &::before {
    width: 0.125rem;
  }
}
